@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lemonada&display=swap');



body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

#videoPortada {
    /* position: fixed; */
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.cartel {
    border-radius: 2%;
    text-align: center;
    padding: 3vw;
    color: white;
    font-family: 'Montserrat',
        sans-serif;
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
}

.cartel>h1 {
    color: rgb(151, 151, 32);
    font-family: 'Girassol', cursive;
    font-size: 7vw;
}


.cabecera {
    margin: 0 !important;
    font-family: 'Supermercado One',
        cursive;
    text-align: center;
    font-size: 2.5vh;
    background-image: url(../img/cabezera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 15vh;
    padding: 5vh;
    color: #ffc826;
    /* text-shadow: #00b1e7 1px 0px 0px,
        #00b1e7 0.540302px 0.841471px 0px,
        #00b1e7 -0.416147px 0.909297px 0px,
        #00b1e7 -0.989992px 0.14112px 0px,
        #00b1e7 -0.653644px -0.756802px 0px,
        #00b1e7 0.283662px -0.958924px 0px,
        #00b1e7 0.96017px -0.279415px 0px; */
}

.cabecera h1,
.cabecera h2 {
    background-color: #00b1e7c2;
    display: inline-block;
    padding: 1vh;
    border-radius: 5vh;
    margin: 1vh;
}

.cabecera img {
    position: absolute;
    height: 100px;
    top: 5px;
    left: 37%;
}

.tienda_menu {
    color: white;
    background-color: black;
    text-align: center;
}

.carrito_icono {
    opacity: 80%;
    text-align: center;
    z-index: 100;
    position: fixed;
    bottom: 10vh;
    right: 1vw;
    background-color: darkslategray;
    border-radius: 100%;
    width: 20vw;
    height: 20vw;
    padding: 5vw;
    -webkit-box-shadow: -13px -6px 30px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -13px -6px 30px 2px rgba(0, 0, 0, 0.75);
    box-shadow: -13px -6px 30px 2px rgba(0, 0, 0, 0.75);
}

.carrito_icono:hover {
    opacity: 100%
}

.carrito_icono>img {
    filter: invert(100%);
    width: 100%;
    object-fit: cover;


}

.carrito_total {
    font-weight: bold;
    font-size: 4vw;
    position: absolute;
    color: #e6ac00;
    top: 0px;
    right: 40%;
    width: 4vw;
    height: 4vw;
}

.banner {
    width: 100vw;
    font-family: 'Lemonada',
        cursive;

    font-size: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-shadow: 0 -1px 4px rgb(228, 33, 33),
        0 -2px 10px #ff0,
        0 -10px 20px #ff8000,
        0 -18px 40px #F00;
    color: rgb(255, 255, 255);
}

.banner-titulo {
    text-align: center;
}

.banner-titulo-grande {
    font-size: 40px;
}

.vertical-center {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.bannerG {
    height: 200px;
    background-image: url(../img/discoExgrande.jpg);
}

.bannerP {
    height: 200px;
    background-image: url(../img/discoExpeque.jpg);
}


.bannerG2 {
    background-image: url(../img/bannerSecGrande.jpg);
}

.bannerP2 {
    height: 100px;
    background-image: url(../img/banerSecPeque.jpg);
}





.estanteria {
    background-color: lightgray;
    padding: 0;
}

.estanteria a,
.estanteria a:visited {
    text-decoration: none;
    font-family: 'Roboto',
        sans-serif;
    font-size: 5vw;
    font-weight: bold;
    color: black;
    text-shadow: white 1px 0px 0px,
        white 0.540302px 0.841471px 0px,
        white -0.416147px 0.909297px 0px,
        white -0.989992px 0.14112px 0px,
        white -0.653644px -0.756802px 0px,
        white 0.283662px -0.958924px 0px,
        white 0.96017px -0.279415px 0px;
}

.producto_estanteria {
    position: relative;
    width: 85vw;
    height: 85vw;
    margin-bottom: 2vh;

}

.producto_estanteria img {
    object-fit: cover;
    width: 90vw;
    height: 90vw;
    -webkit-box-shadow: 3px 5px 11px 2px rgba(0, 0, 0, 0.78);
    box-shadow: 3px 5px 11px 2px rgba(0, 0, 0, 0.78);
}


.detalle_producto_estanteria>.nombre_estanteria {
    float: left;
    max-width: 45%;
}

.detalle_producto_estanteria>.precio_estanteria {
    float: right;
    max-width: 48%
}

.detalle_base {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.imagenAutor img {
    display: none;
}

.logoAutor {
    text-align: center;
}

.logoAutor img {
    max-width: 40vh;
    max-height: 100vh;
    object-fit: contain;
}

.detalle_foto {
    border: 2px black solid;
    background-color: white;
}

.detalle_foto img {
    object-fit: cover;
    max-width: 100%;
}

.detalle_datos {
    background-color: white;
    padding: 3vh;
    min-width: 25%;
    border: 5px black solid;
    width: 100%;
}

.detalle_datos header {
    text-align: center;
    background-color: gray;
}

.tabla_carrito {
    min-width: 100px;
}

.tabla_carrito input {
    width: 30px;
}

.tabla_carrito>div:nth-child(odd) {
    background-color: lightyellow;
}

.detalle_pedido_datos {
    margin: 30px;
    /* padding: 5px; */
    border: 5px black dashed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    text-align: center;
    grid-column-gap: 5vw;
}

.detalle_pedido_tabla,
.detalle_pedido_precioTotal {
    margin: 0 5vw;
}

.detalle_pedido_tabla>div:nth-child(even) {
    background-color: lightgray;
}

.detalle_pedido_tabla>div:first-child,
.detalle_pedido_tabla>div:last-child {
    border-bottom: 3px gray solid;
}

.carrito_cabecera_productos,
.producto_carrito,
.producto_carrito_vacio,
.detalle_pedido_cabecera,
.detalle_pedido_linea {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.carrito_cabecera_productos,
.detalle_pedido_cabecera {
    font-weight: bold;
}

.producto_carrito_vacio {
    color: lightgray;
}

.producto_carrito_vacio input[type="number"] {
    border: lightgray solid 1px;
    color: lightgray;
}

.boton_carrito {
    margin: 2vh 2vw;
    display: inline-block;
    width: fit-content;
    text-decoration: none;
    color: black;
    background-color: #ffc826;
    padding: 10px;
    border-radius: 15px;
    border: rgb(167, 167, 1) solid 1px;
}

.boton_carrito:hover {
    background-color: #ffd558;
}

.boton_carrito:active {
    background-color: #e6ac00;
    border: 3px;
}

@media screen and (orientation:portrait) {
    .cabecera h2 {
        display: none;
    }
}

@media screen and (orientation: landscape) and (max-width: 700px) {
    .estanteria {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        align-content: flex-start;
    }

    .producto_estanteria {
        display: block;
        width: 80vh;
        height: 80vh;
        margin-bottom: 10vh;
    }

    .producto_estanteria img {
        width: 100%;
        height: 100%;
    }

    .detalle_producto_estanteria {

        width: 80vh;
    }

    .estanteria a,
    .estanteria a:visited {
        font-size: 4.5vh;
    }

    .imagenAutor img {
        position: absolute;
        z-index: -100;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: blur(2px);
        display: block;
    }
}

@media screen and (min-width: 701px) {
    .tienda_menu {
        z-index: 100;
        flex: content;
        vertical-align: middle;
        text-align: left;
        position: sticky;
        top: 0;
        height: 8vh;
        padding: 2vh;
        font-size: larger;
    }

    .carrito_icono {
        opacity: 100%;
        float: right;
        position: relative;
        background-color: black;
        text-align: center;
        border-radius: 0;
        width: 6vh;
        height: 6vh;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        top: -2vh;
        right: 0;
        padding: 0;
    }

    .carrito_icono>img {
        position: relative;
        filter: invert(100%);
        object-fit: cover;
        height: 5vh;
        width: 5vh;


    }

    .carrito_total {
        color: #e6ac00;
        text-align: center;
        left: 0;
        bottom: 0;
        top: auto;
        padding: 1vw;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        font-size: 1.5vh;
        padding: 1vh;
        height: 1vh;
        width: 1vh;
        background-color: rgba(0, 0, 0, 0);
    }

    .estanteria {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        align-content: flex-start;
    }

    .producto_estanteria {
        display: block;
        width: 22vw;
        height: 22vw;
    }

    .producto_estanteria img {
        width: 100%;
        height: 100%;
    }

    .detalle_producto_estanteria {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1vw;
        width: 90%;
    }

    .estanteria a,
    .estanteria a:visited {
        font-size: 1.5vw;
    }

    .detalle_foto img {
        max-width: 500px;
    }

    .imagenAutor img {
        position: absolute;
        z-index: -100;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: blur(2px);
        display: block;
    }

    .detalle_datos {
        width: auto;
    }
}